<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="3000">
      <img src="../image/bg1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="3000">
      <img src="../image/bg2.svg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="3000">
      <img src="../image/bg3.svg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>